<div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
    <span id="titlePage" class="animate__animated animate__tada">
      <h1>Fake Store</h1>
    </span>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/imgs/slide1.jpg" class="d-block w-100" alt="slide1">
      </div>
      <div class="carousel-item">
        <img src="./assets/imgs/slide2.jpg" class="d-block w-100" alt="slide2">
      </div>
      <div class="carousel-item">
        <img src="./assets/imgs/slide3.jpg" class="d-block w-100" alt="slide2">
      </div>
    </div>
</div>