<div id="mayorista" class="row">
    <section class="textBox col-md-8 col-12">
        <p>
            ¿Estás buscando abastecer tu negocio con productos de calidad a precios irresistibles? ¡No busques más! Nuestro mayorista es la opción perfecta para ti.
            <br>
            <br>
            Te ofrecemos una amplia variedad de productos de diferentes categorías, desde electrónica y moda hasta artículos para el hogar y belleza. Trabajamos con las marcas más reconocidas y ofrecemos productos de alta calidad que satisfarán las necesidades de tus clientes.
            <br>
            <br>
            ¡No pierdas esta oportunidad! Únete a nuestra red de clientes satisfechos y descubre por qué somos el mayorista de confianza de tantos negocios exitosos.
            <br>
            <br>
            Para más información y realizar tu primera compra, visita nuestro sitio web o contáctanos por teléfono. ¡Estamos ansiosos por comenzar a trabajar contigo y ayudarte a alcanzar el éxito!
            <br>
            <br>
            ¡Compra al por mayor con nosotros y potencia tu negocio al máximo! 💼💪
        </p>
    </section>
    <section class="formBox col">
        <form id="formData" onsubmit="saveData(event,formData)">
            <div class="mb-3 titleFormDatos">
                <h4>Datos Personales</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="namePerson" placeholder="Nombre Completo" onblur="validateCampo('namePerson')">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="DNIPerson" placeholder="DNI" onblur="validateCampo('DNIPerson')">
            </div>
            <div class="mb-3 titleFormDatos">
                <h4>Datos Local</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="nameLocal" placeholder="Nombre" onblur="validateCampo('nameLocal')">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="direccionLocal" placeholder="Dirección" onblur="validateCampo('direccionLocal')">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Correo" onblur="validateCampo('email')">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="tel" placeholder="Telefono" onblur="validateCampo('tel')">
            </div>
            <span id="messageError" class="mb-3"></span>
            <button class="btn btn-primary">Enviar</button>
          </form>
    </section>
</div>