<div id="mayorista">
    <section class="textBox">
        <p>
            ¿Estás buscando abastecer tu negocio con productos de calidad a precios irresistibles? ¡No busques más! Nuestro mayorista es la opción perfecta para ti.
            <br>
            <br>
            Te ofrecemos una amplia variedad de productos de diferentes categorías, desde electrónica y moda hasta artículos para el hogar y belleza. Trabajamos con las marcas más reconocidas y ofrecemos productos de alta calidad que satisfarán las necesidades de tus clientes.
            <br>
            <br>
            ¡No pierdas esta oportunidad! Únete a nuestra red de clientes satisfechos y descubre por qué somos el mayorista de confianza de tantos negocios exitosos.
            <br>
            <br>
            Para más información y realizar tu primera compra, visita nuestro sitio web o contáctanos por teléfono. ¡Estamos ansiosos por comenzar a trabajar contigo y ayudarte a alcanzar el éxito!
            <br>
            <br>
            ¡Compra al por mayor con nosotros y potencia tu negocio al máximo! 💼💪
        </p>
    </section>
    <section class="formBox">
        <form onsubmit="event.preventDefault();">
            <div class="mb-3 titleFormDatos">
                <h4>Datos Personales</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="namePersonMayorista" placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="DNIPersonMayorista" placeholder="DNI">
            </div>
            <div class="mb-3 titleFormDatos">
                <h4>Datos Local</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="nameLocalMayorista" placeholder="Nombre">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="direccionLocalMayorista" placeholder="Dirección">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="emailLocalMayorista" placeholder="Correo">
              </div>
              <div class="mb-3">
                  <input type="number" class="form-control" id="telLocalMayorista" placeholder="Telefono">
              </div>
            <button class="btn btn-primary">Enviar</button>
          </form>
    </section>
</div>