<div id="revendedor" class="flex-row">
    <section class="formBox col ">
        <form id="formData" onsubmit="saveData(event,formData)">
            <div class="mb-3 titleFormDatos">
                <h4>Datos Personales</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="namePerson" placeholder="Nombre Completo" onblur="validateCampo('namePerson')">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="DNIPerson" placeholder="DNI" onblur="validateCampo('DNIPerson')">
            </div>
            <div class="mb-3">
              <input type="number" class="form-control" id="CUIT" placeholder="C.U.I.T. (sin -)" onblur="validateCampo('CUIT')">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="direccionLocal" placeholder="Dirección" onblur="validateCampo('direccionLocal')">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Correo" onblur="validateCampo('email')">
              </div>
              <div class="mb-3">
                  <input type="number" class="form-control" id="tel" placeholder="Telefono" onblur="validateCampo('tel')">
              </div>
            <span id="messageError" class="mb-3"></span>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </section>
    <section class="textBox col-md-8 col-12 order-md-last order-first">
        <p>
            ¡Conviértete en revendedor y maximiza tus ganancias con nuestros productos de alta calidad! 📈💰
            <br>
            <br>
            ¿Estás buscando una oportunidad de negocio rentable y emocionante? ¡No busques más! Te ofrecemos la posibilidad de convertirte en un revendedor de nuestros productos líderes en el mercado.
            <br>
            <br>
            Nuestros productos abarcan una amplia gama de categorías, desde moda y accesorios hasta electrónica y artículos para el hogar. Trabajamos con marcas reconocidas y ofrecemos productos de calidad que son altamente demandados por los consumidores.
            <br>
            <br>
            ¡Maximiza tus ganancias y disfruta de una nueva fuente de ingresos como revendedor de nuestros productos de alta calidad! 💼💪
        </p>
    </section>
</div>