<div id="revendedor">
    <section class="formBox">
        <form>
            <div class="mb-3 titleFormDatos">
                <h4>Datos Personales</h4>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="namePersonMayorista" placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="DNIPersonMayorista" placeholder="DNI">
            </div>
            <div class="mb-3">
              <input type="number" class="form-control" id="nameLocalMayorista" placeholder="C.U.I.T.">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="direccionLocalMayorista" placeholder="Dirección">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="emailLocalMayorista" placeholder="Correo">
              </div>
              <div class="mb-3">
                  <input type="number" class="form-control" id="telLocalMayorista" placeholder="Telefono">
              </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
    </section>
    <section class="textBox">
        <p>
            ¡Conviértete en revendedor y maximiza tus ganancias con nuestros productos de alta calidad! 📈💰
            <br>
            <br>
            ¿Estás buscando una oportunidad de negocio rentable y emocionante? ¡No busques más! Te ofrecemos la posibilidad de convertirte en un revendedor de nuestros productos líderes en el mercado.
            <br>
            <br>
            Nuestros productos abarcan una amplia gama de categorías, desde moda y accesorios hasta electrónica y artículos para el hogar. Trabajamos con marcas reconocidas y ofrecemos productos de calidad que son altamente demandados por los consumidores.
            <br>
            <br>
            ¡Maximiza tus ganancias y disfruta de una nueva fuente de ingresos como revendedor de nuestros productos de alta calidad! 💼💪
        </p>
    </section>
</div>